{% extends 'base.html' %}

{% block title %}
Evaluator
{% endblock %}

{% block header %}
<h1> RIPS - Evaluator</h1>
<img src="{{ url_for('static', filename='recyclingcenter.jpg') }}" width="300">
{% endblock %}

{% block aboveLogs %}
{% endblock %}

{% block logs %}
<div id="log-items-wrapper">
  <h2>Recycled received items:</h2>
  <div id="log-items"></div>
</div>
{% endblock %}

{% block belowLogs %}
<div id="add-div">
            <h2>Pending items to evaluate:</h2>
            <div id="pending-items">
            </div>
            <h4>{{ success_str }}</h4>
    </div>
{% endblock %}   

